<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>salesforcechat</name>
    <displayName><![CDATA[Multistore module for Salesforce Chat]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This module allows you to integrate the Salesforce chat in the footer of each shop in a PrestaShop multistore environment.]]></description>
    <author><![CDATA[LaqueP]]></author>
    <tab><![CDATA[front_office_features]]></tab>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
</module>